{% extends "base.html" %}


{% block content %}

<article>
    <h1>Twitter Marketing FAQ</h1>

    <section class="faq">
        <h2>What is Twitter Marketing?</h2>
        <p>
            Twitter Marketing involves using Twitter's platform to engage with an audience through real-time conversations and updates. With its fast-paced nature, Twitter is perfect for brands looking to create timely and relevant interactions.
        </p>
    </section>

    <section class="faq">
        <h2>What skills will I learn in the Twitter Marketing course?</h2>
        <p>
            You'll learn to create engaging tweets, use Twitter Analytics to track performance, and develop a content calendar to ensure consistent posting. Mastering these skills will help you effectively grow your audience.
        </p>
    </section>

    <section class="faq">
        <h2>What are the different types of Twitter Ads?</h2>
        <p>
            Twitter offers various ad formats, such as Promoted Tweets, Promoted Trends, and Promoted Accounts. Each ad type has unique objectives, such as increasing followers or driving traffic to your website.
        </p>
    </section>

    <section class="faq">
        <h2>How does the partnership program benefit Twitter Marketing students?</h2>
        <p>
            After the second month, students can partner with LearnSocx, applying their skills to real marketing campaigns and earning while learning, which enhances their practical experience.
        </p>
    </section>

    <section class="faq">
        <h2>What resources do I need for Twitter Marketing?</h2>
        <p>
            A Twitter account and basic knowledge of tweeting are sufficient to start. With a clear strategy, you can leverage Twitter for significant brand engagement and growth by the end of this course.
        </p>
    </section>

    <a href="{{ url_for('student_reg_page') }}">
        <button class="register-button">Register Now!</button>
            </a>
</article>

{% endblock content %}
